<footer>
    <div class="quick_links">
        <div class="link">
            <img src='assets/img/Telegram_logo.png' class='logo'>
            <a href="https://t.me/ubezhische_lakashmaka">Мой Telegram канал</a>
        </div>
        
        <div class="link">
            <img src='assets/img/VK_Logo.png' class='logo'>
            <a href="https://vk.com/aanbechanb">Моё сообщество в ВК</a>
        </div>
        
        <div class="link">
            <img src='assets/img/YouTube_logo.png' class='logo'>
            <a href="https://youtube.com/@lakashmak?si=sfu01e7w-SxNOt_C">Мой YouTube канал</a>
        </div>
        
        <div class="link">
            <img src='assets/img/Github_logo.png' class='logo'>
            <a href="https://github.com/Lakashmak">Мой профиль на Github</a>
        </div>
    </div>
    
    <div class="copyright">Copyright 2026 Lakashmak</div>
</footer>