.LoPPage {
	color: #ffffff;
}

.search {
	width: 100%;
	padding: 10px;
	background-color: #7f7f7f;
	border-bottom: 1px solid black;
	text-align: center;
}

.search > a {
	text-decoration: none;
	color: #000000;
}

.search > a:hover {
	color: #ffbf00;
	text-decoration: underline;
}

#content {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.card {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 37vw;
	background-color: #7f7f7f;
	border: 2px solid black;
	border-radius: 25px;
	overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    background-color: #ff7f00;; 
}

.screenshot {
	margin: 10px;
	width: 30vw;
	height: 20vw;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #3f3f3f;
	object-fit: contain;
	object-position: center;
}

.card > div {
	width: 100%;
	background-color: #1f1f1f;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
    align-items: center;
    height: 5vh;
    overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	justify-content: center;
}

.card > div > img {
	width: 3vh;
	height: 3vh;
	border-radius: 1.5vh;
	margin-right: 1vh;
}

.card > div > h3 {
	color: white;
	font-size: 1.5vh;
}